
@{
    ViewBag.Title = "CancelPayment";
}
<h1>Payment cancled succsefully</h1>
<a href="@(Url.Action("BuyTickets", "Home", new { movieName=ViewBag.movie }))"><button>Click here to continue</button></a>

