@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<div class="container">
    <div class="row">
        <div class="col">
                <dl>
                    <dt><h1>Welcome to Michael's and Dan's cinema</h1></dt>
                    <dd><h2>- Best cinema in the galaxy with the hottests sales in the universe</h2></dd>
                    <dd><h5>Unfortunately we are closed due to COVID-19</h5></dd>
                </dl>
        </div>
    </div>
</div>
